.home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__text-wrapper {
        display: flex;
        justify-content: center;

        h1 {
            color: #000000;
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30,end);
        }
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        margin: 15px;
        gap: 20px;

        button {
            cursor: pointer;
            padding: 12px 20px;
            font-size: 2rem;
            background-color: #41986c;
            color: white;
            border: 1.5px solid black;
            border-radius: 4px;
            font-weight: 500;
            transition: background-color 0.3s ease;
            min-width: 200px;

            &:hover {
                background: #2ab06d;
                color: white;
            }
        }
    }

    &__social {
        margin-top: 50px;
        text-align: center;
    
        h1 {
          font-size: 2rem;
          color: #333;
          margin-bottom: 10px;
        }
    
        svg {
          font-size: 2.5rem;
          color: #333;
          margin: 0 10px;
          cursor: pointer;
          transition: color 0.3s ease;
    
            &:hover {
                color: #1365bc;
            }
        }
    }
}

@media only screen and (max-width : 550px) {
    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
    
    .home__social h1{
        font-size: 1.5rem;
    }

    .home__contact-me button {
        gap: 5px;
    }
}

@media only screen and (min-width : 551px) and (max-width : 768px) {
    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }   

    .home__social h1{
        font-size: 1.5rem;
    }

    .home__contact-me button {
        gap: 5px;
    }
}

@media only screen and (min-width : 769px) and (max-width : 990px) {
    .home__text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }   

    .home__social h1{
        font-size: 1.5rem;
    }

    .home__contact-me button {
        gap: 5px;
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}