.contact {
    &__content {
        padding: 20px;
        margin: 50px;
        background-color: #e2e8f0; 
        border-radius: 0.75rem;

        &__header-text {
            color: #181818;
            display: inline-block;
            font-size: 26px;
            font-weight: bold;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid gray;
            margin-bottom: 25px;
        }

        &__header-text::before,
        &__header-text::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 5px;
            background-color: gray;
            bottom: -1px;
        }

        &__header-text::before {
            left: 0;
        }
        
        &__header-text::after {
            right: 0;
        }

        &__form {
            margin-top: 30px;

            &__controlswrapper {
                  display: grid;
                  grid-template-columns: repeat(2,1fr);
                  gap: 40px;
                  margin-bottom: 30px;

                  div {
                    position: relative;
                    margin-bottom: 15px;
                    .inputName,
                    .inputEmail,
                    .inputMessage {
                        width: 100%;
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                        border-radius: 0.5rem;
                        border: 1px solid #cbd5e0;
                        color: #4a5568;
                    }

                    .nameLabel,
                    .emailLabel,
                    .messageLabel {
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: #181818;
                        font-size: 18px;
                    }

                    .inputName:focus,
                    .inputEmail:focus,
                    .inputMessage:focus {
                        outline: none;
                        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
                    }

                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel,
                    .inputEmail:focus+.emailLabel,
                    .inputEmail:valid+.emailLabel,
                    .inputMessage:focus + .messageLabel,
                    .inputMessage:valid + .messageLabel {
                        font-size: 22px;
                        top: -30px;
                        left: 0px;
                        font-weight: bold;
                    }                   
                }
            }
        }

        button {
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background-color: #000;
            color: #fff;
            border-radius: 0.75rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #2d3748;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .contact__content {
        margin: 25px;
    
        &__form {
            text-align: center;

            &__controlswrapper {
                grid-template-columns: repeat(1,1fr);
            
                div {
                    margin-bottom: 5px;
                }
            }
        }
    }    
}